@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-inter bg-[#020202] text-white scroll-smooth antialiased;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: transparent;
}
::-moz-scrollbar {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: linear-gradient(115deg, #ff00cc 0%, #f7ff00 100%);
  border-radius: 20px;
}

.blur-shadow1 {
  background-image: linear-gradient(#ff00cc 35%, #f7ff00);
  animation: spinning82341 10s linear infinite;
  box-shadow: 0px 0px 80px 0px #ff00cc, 0px 5px 20px 0px #f7ff00;
}
.blur-shadow2 {
  background-image: linear-gradient(#ff00cc 35%, #f7ff00);
  animation: spinning82342 10s linear infinite;
  box-shadow: 0px 0px 80px 0px #ff00cc, 0px 5px 20px 0px #f7ff00;
}
.spinner {
  background-image: linear-gradient(#ff00cc 35%, #f7ff00);
  /* width: 110px;
  height: 110px; */
  animation: spinning82341 10s linear infinite;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  filter: blur(1px);
  box-shadow: 0px 0px 5px 0px #ff00cc, 0px 2px 10px 0px #f7ff00;
}
@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinning82342 {
  to {
    transform: rotate(-360deg);
  }
}

/* Background hero animation */
#container-stars {
  position: absolute;
  transition: 0.5s;
}
#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 180s linear infinite;
}
#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}
@keyframes animStar {
  from {
    transform: translateY(-135rem);
  }
  to {
    transform: translateY(0);
  }
}

/* Marquee */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-marquee {
  animation: marquee linear infinite;
  animation-duration: 200s;
}

/* Card Projects */
.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card b {
  position: absolute;
  z-index: 2;
}
.card .content {
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0);
  transition: 800ms;
}
.card:hover .content {
  transform: scale(1);
  bottom: 25px;
}
